.editor {
  font-family: 'Inconsolata';
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}

.editor-background {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}


