.editor {
  font-family: 'Inconsolata';
  position: absolute;
  overflow: hidden;
}

.editor-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.font-test-editor {
  font-family: 'Inconsolata';
  opacity: 0;
}

.font-test-default {
  font-family: 'Times';
  opacity: 0;
}



